/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*style*/
body{
    background-color:wheat;
    background-image: url(logo.png);
    background-size: 300px;
    
}
header{
    background-color: rgba(143, 101, 81, 0.555);
    height: 80px;
    box-sizing: border-box;
}
h1{
    padding: 30px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Andina demo;
    color: rgb(46, 12, 8);
    text-align: left;
}
header div{
    display: inline-block;
}
nav{
    display: inline-block;
    padding-left: 500px;
    margin: 20px auto;
}
header nav ul li{
    display: inline-block;
}
a{
    text-align: right;
    color: snow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;
    margin: 10px;
}
main{
    width: auto;
    text-align: left;
    background-image: url(bg.jpg);
    background-size: 1255px;
    background-position: bottom;
    background-repeat: repeat-x;
    color: snow;
    box-sizing: border-box;
}
div.jarak{
    height: 350px;
}
main div{
    text-align: center;
}
.jarak-antar-div {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-size: 50px;
    margin-bottom: 20px;
}
p{
    font-size: 20px;
}
table{
    background-color: rgba(54, 17, 8, 0.6);
    border-width: 2px;
    border-color: snow;
    border-style: solid;
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
}
thead{
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
}
th{
    border-width: 2px;
    border-color: snow;
    border-style: solid;
    padding: 20px;
}
td{
    border-width: 2px;
    border-color: snow;
    border-style: solid;
    padding: 15px;
}
.harga{
    width: 100px;
}
.cabang{
    margin: 10px auto;
    font-size: 20px;
    text-align: center;
}
footer{
    background-color: rgb(173, 125, 99);
}
h2{
    padding: 50px;
    font-size: 30px;
    font-weight: bolder;
    font-family: Andina demo;
    color: rgb(46, 12, 8);
    text-align: left;
    display: inline-block;
    margin-right: 200px;
}
footer div a{
    margin: 10 px auto;
    display: inline-block;
}
footer div{
    display: inline-block;
}
div.copyright{
    color: snow;
    margin-left: 150px;
}
.nada:hover{
    color: rgb(138, 105, 88);
}
img{
    width: 30px;
    height: 30px;
}